
    <div class="container">
          <h3 class="mt-5 text-center">検索結果　"<%= @word %>"</h3>
          <div class="text-right mr-1 mb-4">
            <% if user_signed_in? %>
            <div class="search_form">
              <%= form_with url: search_path, local: true, method: :get do |f| %>
                <%= f.text_field :word, placeholder: "日時、場所を入れてください。"%>
                <%= f.submit "検索", class: "btn-sm btn-primary" %>
              <% end %>
            </div>
            <% end %>
          </div>
        
          <table class="table text-center">
            <thead>
              <tr>
                <th>　　　タイトル　　　</th>
                <th>　希望日時</th>
                <th>集合場所　</th>
                <th>投稿者　</th>
                <% if user_signed_in? %>
                  <th>お気に入り</th>
                <% end %>
              </tr>
            </thead>

            <% @recruitings.each do |recruiting| %>
            <tbody>
              <tr>
                <td>
                  <%= link_to recruiting.title, "/users/recruitings/#{recruiting.id}" %>
                </td>
                <td>
                  <%= recruiting.datetime %>
                </td>
                <td>
                  <%= recruiting.place %>
                </td>
                <td>
                  <%= link_to recruiting.person.handle, "/users/recruitings/#{recruiting.id}/owner/#{recruiting.id}" %>
                </td>

                <% if user_signed_in? %>
                  <td>
                    <% if recruiting.favorited_by?(current_user) %>
                      <%= link_to users_recruiting_favorites_path(recruiting), method: :delete do %>
                        ♥
                    <% end %>

                    <% else %>
                      <%= link_to users_recruiting_favorites_path(recruiting), method: :post do %>
                        ♡
                      <% end %>
                    <% end %>
                  </td>
                <% end %>


              </tr>
            </tbody>
          <% end %>
          </table>
        </div>

    </div>