  <body>


    <div class="container">
      <div class="row mt-5">
        <div class="col-3">
          <h3 class="ml-5">新規投稿</h3>
          
          <% if @recruiting.errors.any? %>
            <div class="ml-5 mt-3" style= "color: red;">
              <% @recruiting.errors.full_messages.each do |message| %>
                <%= message %>
              <% end %>
            </div>
            <div style= "color: red;">＊タイトルを入力してください＊</div>
          <% end %>
          
          <%= form_with model: @recruiting, url: users_recruitings_path do |f| %>

          <div class= "ml-3 mt-3">
            <div>タイトル : <%= f.text_field :title %></div>
          </div>

          <div class= "m-3">
            <div>コメント : <%= f.text_area :comment, placeholder: "例)同姓を希望/複雑な内容の通訳をお願いしたいのでスキルの高い方希望/初心者でも可　などご記入ください。" %></div>
          </div>

          <div class= "ml-3">
            <div>希望時間 : <%= f.text_field :datetime, placeholder: "例)OO:OO~OO:OO" %></div>
          </div>

          <div class= "m-3">
            <div>集合場所 : <%= f.text_field :place, placeholder: "県や市を記入してください。" %></div>
            <!--div>初めに県や市を入力してください。検索機能で閲覧されやすくなります。</div-->
          </div>

          <div class= "ml-3 mt-3">
            <%= f.submit '投稿' %>
          </div>

          <div class= " mt-4">
            <%= link_to "マイページを未作成の方はこちら", new_users_person_path %>
          </div>

          <% end %>
        </div>

        <div class="col-9">
          <h3 class="mb-5 text-center">通訳士の募集 一覧</h3>
          <table class="table text-center">
            <thead>
              <tr>
                <th>　　　タイトル　　　</th>
                <th>　希望時間</th>
                <th>集合場所　</th>
                <th>投稿者　</th>
                <% if user_signed_in? %>
                  <th>お気に入り</th>
                <% end %>
              </tr>
            </thead>

            <% @recruitings.each do |recruiting| %>
            <tbody>
              <tr>
                <td>
                  <%= link_to recruiting.title, "/users/recruitings/#{recruiting.id}" %>
                </td>
                <td>
                  <%= recruiting.datetime %>
                </td>
                <td>
                  <%= recruiting.place %>
                </td>
                <td>
                  <%= link_to recruiting.person.handle, "/users/recruitings/#{recruiting.id}/owner/#{recruiting.id}" %>
                </td>

                <% if user_signed_in? %>
                  <td>
                    <% if recruiting.favorited_by?(current_user) %>
                      <%= link_to users_recruiting_favorites_path(recruiting), method: :delete do %>
                        ♥
                    <% end %>

                    <% else %>
                      <%= link_to users_recruiting_favorites_path(recruiting), method: :post do %>
                        ♡
                      <% end %>
                    <% end %>
                  </td>
                <% end %>


              </tr>
            </tbody>
          <% end %>
          </table>
        </div>
      </div>
    </div>
  </body>