
  <div class="container">
    
    <!--投稿者のマイページ詳細-->
    <h3 class="ml-3 mt-5 mb-5 d-flex justify-content-center">
      <span style ="background-color:#00CC33; color:white" class="font-weight-bold">
        　<%= @recruiting.person.handle %> さんのマイページ詳細　
      </span>
    </h3>
    <div class= "mr-5 d-flex justify-content-center">
    <table width="40%">
      <tr align="right">
        <th style="font-size:20px; color:;" width="50%">
          ハンドルネーム : 
        </th>
        <td style="font-size:20px; color:red;" width= "50%">
          <%= @recruiting.person.handle %></diV>
        </td>
      </tr>
      
      <tr align="right">
        <th style="font-size:20px; color:;" width="50%">
          性別 : 
        </th>
        <td style="font-size:20px; color:red;" width="50%">
          <%= @recruiting.person.gender %>
        </td>
      </tr>
      
      <tr align="right">
        <th style="font-size:20px; color:;" width="50%">
          年齢 :
        </th>
        <td style="font-size:20px; color:red;" width="50%">
          <%= @recruiting.person.age %>
        </td>
      </tr>
      
      <tr align="right">
        <th style="font-size:20px; color:;" width="50%">
          連絡先 : 
        </th>
        <td style="font-size:20px; color:red;" width="50%">
          <%= @recruiting.person.contact %>
        </td>
      </tr>
    </table>
    </div>

    <!--投稿者の投稿一覧-->
    <h4 class="ml-5 mt-5 mb-5 ">
      <span style ="background-color:#99CCFF; color:white" class="font-weight-bold">　投稿 一覧　</span>
    </h4>
    <table class="table text-center" style ="background-color:#D7EEFF; ">
      <thead>
        <tr>
          <th>　　　タイトル　　　</th>
          <th>　希望時間</th>
          <th>集合場所　</th>
        </tr>
      </thead>
      
      <tbody>
      <% @recruitings.each do |recruiting| %>
        <tr>
          <td>
            <%= link_to recruiting.title, "/users/recruitings/#{recruiting.id}" %>
          </td>
          
          <td>
            <%= recruiting.datetime %>
          </td>
          
          <td>
            <%= recruiting.place %>
          </td>
        </tr>
      </tbody>
    <% end %>
    </table>
    
    <div class= "ml-5 mt-3 mb-3 d-flex justify-content-center">
      <%= paginate @recruitings, theme: 'twitter-bootstrap-4' %>
    </div>
  </div>