
  <div class="container">
    <h3 class="ml-5 mt-5 mb-5 d-flex justify-content-center"> <%= @recruiting.person.handle %> さんのマイページ詳細</h3>
    
    <div class= "mr-5 d-flex justify-content-center">
    <table width="40%">
      <tr align="right">
        <th style="font-size:20px; color:;" width="50%">
          ハンドルネーム : 
        </th>
        <td style="font-size:20px; color:red;" width= "50%">
          <%= @recruiting.person.handle %></diV>
        </td>
      </tr>
      
      <tr align="right">
        <th style="font-size:20px; color:;" width="50%">
          性別 : 
        </th>
        <td style="font-size:20px; color:red;" width="50%">
          <%= @recruiting.person.gender %>
        </td>
      </tr>
      
      <tr align="right">
        <th style="font-size:20px; color:;" width="50%">
          年齢 :
        </th>
        <td style="font-size:20px; color:red;" width="50%">
          <%= @recruiting.person.age %>
        </td>
      </tr>
      
      <tr align="right">
        <th style="font-size:20px; color:;" width="50%">
          連絡先 : 
        </th>
        <td style="font-size:20px; color:red;" width="50%">
          <%= @recruiting.person.contact %>
        </td>
      </tr>
    </table>
    </div>

    <h4 class="ml-5 mt-5 mb-5 ">投稿 一覧</h4>
    <table class="table text-center">
      <thead>
        <tr>
          <th>　　　タイトル　　　</th>
          <th>　希望時間</th>
          <th>集合場所　</th>
        </tr>
      </thead>
            
      <tbody>
      <% @person.recruitings.each do |recruiting| %>
        <tr>
          <td>
            <%= link_to recruiting.title, "/users/recruitings/#{recruiting.id}" %>
          </td>
          <td>
            <%= recruiting.datetime %>
          </td>
          <td>
            <%= recruiting.place %>
          </td>
        </tr>
      </tbody>
    <% end %>
    </table>
  </div>