  <div class="container">

    <div class="ml-4 mt-4 " style= "color: lightgreen;">
      <%= flash[:complete] %>
      <%= flash[:success] %>
    </div>

    <!--募集投稿詳細-->
    <div class= "ml-5 pl-5 my-2 mt-4 d-flex justify-content-center">
      <h4>
        <span style ="background-color:#BBFFFF; color:#1E90FF" class="font-weight-bold">
          　<%=link_to @recruiting.person.handle, "/users/recruitings/#{@recruiting.person.id}/owner/#{@recruiting.person.id}" %> さんの投稿　
        </span>
      </h4>
    </div>

    <div class= "mt-4 mr-5 d-flex justify-content-center">タイトル</div>
    <div class= "ml-5 pl-5 my-2 d-flex justify-content-center font-weight-bold" style= "color: red;"><%= @recruiting.title %></div>

    <div class= "mt-3 mr-5 d-flex justify-content-center">コメント</div>
    <div class= "ml-5 pl-5 my-2 d-flex justify-content-center font-weight-bold" style= "color: red;"><%= @recruiting.comment %></div>

    <div class= "mt-3 mr-5 d-flex justify-content-center">希望日時</div>
    <div class= "ml-5 pl-5 my-2 d-flex justify-content-center font-weight-bold" style= "color: red;"><%= @recruiting.datetime %></div>

    <div class= "mt-3 mr-5 d-flex justify-content-center">集合場所</div>
    <div class= "ml-5 pl-5 my-2 d-flex justify-content-center font-weight-bold" style= "color: red;"><%= @recruiting.place %></div>

    <% if user_signed_in? %>
        <% if @recruiting.person_id == current_user.id %>
          <div class= "btn-toolbar ml-5 pl-5 mt-4 d-flex justify-content-center">
            <%= button_to "編集", edit_users_recruiting_path(@recruiting.id), class: "btn btn-success mr-5", method: :get %>
            <%= button_to "削除", users_recruiting_path(@recruiting.id), class: "btn btn-danger ml-5", method: :delete, "data-confirm" => "本当に削除しますか？" %>
          </div>
        <% end %>
    <% end %>
    
          <div class= "mt-4 bg-warning text-dark">
            <h5 class= "font-weight-bold">＊注意点＊</h5>
            <h6>
              　お相手が見つかった場合、</br>
              　　①タイトルの先頭に[完了済]と追加してください。他の方が投稿を見やすくするためご協力お願い致します。</br>
              　　②投稿を削除してしまうとやりとりやお相手との連絡手段などが全て消えてしまうため、当日まで投稿を削除しないようご注意ください。</br>
              　　③当日を過ぎますと削除して頂いても構いません。また、管理者側で投稿を削除させていただきます。</br>
            </h6>
            <h6>　</h6>
          </div>
   
      <!--コメント一覧-->
      <div class= "mb-2 mt-2 ml-5 ">ーコメント欄ー</div>
      <% @talks.each do |talk| %>
        <div class= "ml-5 mb-2 ">
          
        <% if admin_signed_in? %>
          <div style= "color: blue;">
            <%=link_to talk.person.handle,  "/users/recruitings/#{talk.person_id}/owner/#{talk.person_id}" %>さんのコメント : <%= talk.conversation %>
            <%= link_to "削除", users_recruiting_talk_path(talk.recruiting, talk), method: :delete, "data-confirm" => "本当に削除しますか？" %>
          </div>
        <% end %>  
        
        <% if user_signed_in? %>  
          <% if talk.person_id == @recruiting.person_id %>
            <% if talk.person_id == current_user.id %>
            <!--投稿主とコメント者が同じ、かつ、コメント者がログインユーザーの場合-->
              <div style= "color: green;">自分のコメント : <%= talk.conversation %>
              <%= link_to "削除", users_recruiting_talk_path(talk.recruiting, talk), method: :delete, "data-confirm" => "本当に削除しますか？" %></div>

            <% else %>
            <!--投稿主とコメント者が同じ、かつ、コメント者がログインユーザーと別の場合-->
              <div style= "color: red;">
                投稿者さんのコメント : <%= talk.conversation %>
              </div>
            <% end %>
          
          <% else %>
            <% if talk.person_id == current_user.id %>
            <!--投稿主とコメント者が別、かつ、コメント者がログインユーザーの場合-->
              <div style= "color: green;">自分のコメント : <%= talk.conversation %>
              <%= link_to "削除", users_recruiting_talk_path(talk.recruiting, talk), method: :delete, "data-confirm" => "本当に削除しますか？" %></div>

            <% else %>
            <!--投稿主とコメント者が別、かつ、コメント者がログインユーザーと別の場合-->
              <div style= "color: blue;">
                <%=link_to talk.person.handle,  "/users/recruitings/#{talk.person_id}/owner/#{talk.person_id}" %>さんのコメント : <%= talk.conversation %>
              </div>
            <% end %>
          <% end %>
        <% end %>
        </div>
      <% end %>

      <!--コメント作成-->
      <% if user_signed_in? %>
        <%= form_with model: [@recruiting, @talk], url: users_recruiting_talks_path(@recruiting.id) do |f| %>
          <div class= "mt-2 ml-5 pl-2 d-flex justify-content-center">
            <%= f.text_field :conversation %>
            <%= f.submit '送信' %>
          </div>
        <% end %>
      <% end %>
        
      
      <div class= "ml-5 mt-3 mb-3 d-flex justify-content-center">
        <%= paginate @talks, theme: 'twitter-bootstrap-4' %>
      </div>
    
  </div>

