  <div class="container">

    <div class= "ml-5 pl-5 my-2 mt-4">
      <h4><%=link_to @recruiting.person.handle, "/users/recruitings/#{@recruiting.id}/owner/#{@recruiting.id}" %> さんの投稿</h4>
    </div>

    <div class= "mt-4 ml-3" style= "color: red;">タイトル : </div>
    <div class= "ml-5 pl-5 my-2"><%= @recruiting.title %></div>

    <div class= "ml-3" style= "color: red;">コメント : </div>
    <div class= "ml-5 pl-5 my-2"><%= @recruiting.comment %></div>

    <div class= "ml-3" style= "color: red;">希望時間 : </div>
    <div class= "ml-5 pl-5 my-2"><%= @recruiting.datetime %></div>

    <div class= "ml-3" style= "color: red;">集合場所 : </div>
    <div class= "ml-5 pl-5 my-2"><%= @recruiting.place %></div>
    
    <% if user_signed_in? %>
      <div class= "btn-toolbar ml-5 pl-5 mt-4">
        <% if @recruiting.person_id == current_user.id %>
          <%= button_to "編集", edit_users_recruiting_path(@recruiting.id), class: "btn btn-success mr-5", method: :get %>
          <%= button_to "削除", users_recruiting_path(@recruiting.id), class: "btn btn-danger ml-5", method: :delete, "data-confirm" => "本当に削除しますか？" %>
        <% end %>
      </div>


      <div class= "mt-4 ml-3 mb-4">ーコメント欄ー</div>

      
      <% @talks.each do |talk| %>
        <div class= "mt-2 mb-2">
        <% if talk.person_id == @recruiting.person_id %>
       
          <% if talk.person_id == current_user.id %>
          <!--投稿主とコメント者が同じ、かつ、コメント者がログインユーザーの場合-->
            <div style= "color: green;">自分のコメント : <%= talk.conversation %>
            <%= link_to "削除", users_recruiting_talk_path(talk.recruiting, talk), method: :delete %></div>
            
          <% else %>
          <!--投稿主とコメント者が同じ、かつ、コメント者がログインユーザーと別の場合-->
            <div style= "color: red;">
              投稿者さんのコメント : <%= talk.conversation %>
            </div>
          <% end %>
          
        <% else %>
        
          <% if talk.person_id == current_user.id %>
          <!--投稿主とコメント者が別、かつ、コメント者がログインユーザーの場合-->
            <div style= "color: green;">自分のコメント : <%= talk.conversation %>
            <%= link_to "削除", users_recruiting_talk_path(talk.recruiting, talk), method: :delete %></div>
            
          <% else %>
          <!--投稿主とコメント者が別、かつ、コメント者がログインユーザーと別の場合-->
            <div style= "color: blue;">
              <%=link_to talk.person.handle,  "/users/recruitings/#{talk.person_id}/owner/#{talk.person_id}" %>さんのコメント : <%= talk.conversation %>
            </div>
          <% end %>
          
        <% end %>
        </div>
      <% end %>

      <%= form_with model: [@recruiting, @talk], url: users_recruiting_talks_path(@recruiting.id) do |f| %>
        <div><%= f.text_field :conversation %></div>
        <%= f.submit '送信' %>
      <% end %>
    <% end %>
  </div>
  
  