
  <div class="container">
    <div class="mx-auto" style="width: 400px;">
      <%= form_with model: @user, url: user_registration_path do |f| %>
      <h2 class="mt-5 mb-5 ml-5 pt-5">新規登録画面へようこそ</h2>
        <%= render "users/shared/error_messages", resource: resource %>

        <div class="field ml-5 mt-4 d-flex justify-content-center">
          <h6>　名前　　</h6>
          <%= f.text_field :name, autofocus: true, autocomplete: "name", placeholder: " OO　OO" %>
        </div>

        <div class="field ml-5 mt-4 d-flex justify-content-center">
          <h6>　住所　　</h6>
          <%= f.text_field :address, autofocus: true, autocomplete: "address", placeholder: " OO県OO市OO区O-O-O" %>
        </div>

        <div class="field ml-5 mt-4 d-flex justify-content-center">
          <h6>電話番号　</h6>
          <%= f.text_field :phone_number, autofocus: true, autocomplete: "phone_number", placeholder: " OOO-OOOO-OOOO" %>
        </div>

        <div class="field mt-4 d-flex justify-content-center">
          <h6>メールアドレス　</h6>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: " OOO@OOO" %>
        </div>

        <div class="field ml-4 mt-4 d-flex justify-content-center">
          <h6>パスワード　　</h6>
          <%= f.password_field :password, autocomplete: "new-password", placeholder: " ６文字以上" %>
        </div>

        <div class="field mt-4 d-flex justify-content-center">
          <h6>パスワード確認用　</h6>
          <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
        </div>

        <div class="actions mt-5 mr-5 d-flex justify-content-center">
  　　　　　　<%= f.submit "新規登録" %>
        </div>
      <% end %>

    </div>
  </div>
  