
  <div class="container">
    <div class="mx-auto" style="width: 400px;">
      <%= form_with model: @user, url: user_registration_path do |f| %>
      <h2 class="mt-5 mb-5">新規登録画面へようこそ</h2>
        <%= render "users/shared/error_messages", resource: resource %>

        <div class="field ml-5 mt-4">
          名前
          <%= f.text_field :name, autofocus: true, autocomplete: "name", placeholder: "OO　OO" %>
        </div>

        <div class="field ml-5 mt-4">
          住所
          <%= f.text_field :address, autofocus: true, autocomplete: "address", placeholder: "OO県OO市OO区O-O-O" %>
        </div>

        <div class="field ml-5 mt-4">
          電話番号
          <%= f.text_field :phone_number, autofocus: true, autocomplete: "phone_number", placeholder: "OOO-OOOO-OOOO" %>
        </div>

        <div class="field mt-4">
          メールアドレス
          <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "OOO@OOO" %>
        </div>

        <div class="field mt-4">
          パスワード
          <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> 文字以上)　</em>
          <% end %>
          <%= f.password_field :password, autocomplete: "new-password" %>
        </div>

        <div class="field mt-4">
          パスワード　  確認用<%= f.password_field :password_confirmation, autocomplete: "new-password" %>
        </div>

        <div class="actions ml-5 mt-5">
  　　　　　　<%= f.submit "新規登録" %>
        </div>
      <% end %>

    </div>
  </div>
